@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.header {
  background-color: rgba(0,0,0,0.15);
}
.content {
  padding-top: 30px;
  min-height: 50vh;

  @include media-breakpoint-up(md) {
    padding-top: 100px;
  }

}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  width: 100%;

  .gallery-thumbnail {
    width: 100%;
    &:first-child {
      grid-column: span 3;
    }
  }
}
