@import "../../../styles/variables";

.list-group-flush {
  &.no-paddings {
    .list-group-item {
      padding-left: 0;
      padding-right: 0;
    }
  }

  & > .list-group-item:last-child {
    border-bottom-width: 1px;
  }

  .ng-fa-icon {
    color: $primary;
    margin-right: 5px;
  }
}
